@import "variables";

.btn-label {
    position: relative;
    left: -12px; // equal to the default padding-left
    display: inline-block;
    padding: 11px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
}
