@import "variables";
@import "menu";

html {
    height: 100%;

    body {
        font-family: 'Varela Round', sans-serif;
        height: 100%;
        margin: 0;
        color: $raisin-black;
        overflow-x: hidden;

        ::selection {
            color: $white;
            background-color: $raisin-black;
        }

        #home {
            position: relative;
            color: $white;
            height: 100%;
            background: url('../img/buildings.jpg') center / cover no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ::selection {
                color: $raisin-black;
                background-color: $white;
            }

            #layer {
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                position: absolute;
                opacity: 0.75;
                background-color: #000;
            }

            .center {
                position: absolute;
                text-align: center;

                .name {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 8vw;
                    position: relative;
                    margin: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 5px;
                        height: 3px;
                        left: 0;
                        width: 70%;
                        background-color: $pale-gold;
                        animation: underline-animation 0.8s;

                        @keyframes underline-animation {
                            0% {
                                left: 200%;
                                width: 150%;
                            }

                            50% {
                                left: 0;
                                width: 150%;
                            }

                            100% {
                                left: 0;
                                width: 70%;
                            }
                        }
                    }
                }

                .status {
                    font-family: 'Varela Round', sans-serif;
                    font-weight: 400;
                    margin-top: 30px;
                }
            }

            .bottom {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
                padding: 8px 15px;

                .icon-down-chevron {
                    font-size: 3.6em;
                    position: relative;
                    animation: chevron-down-animation 0.8s infinite;
                    cursor: pointer;

                    @keyframes chevron-down-animation {
                        0% {
                            bottom: 0;
                        }

                        50% {
                            bottom: 10px;
                        }

                        100% {
                            bottom: 0;
                        }
                    }
                }
            }
        }

        #about-me {
            display: flex;

            .center-title {
                display: none;

                .section-title:after {
                    background-color: $pale-gold;
                }
            }

            .left,
            .right {
                padding: 50px;
            }

            .left {
                background-color: $white;
                flex-basis: 50%;

                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    img {
                        width: 35%;
                    }

                    blockquote {
                        margin: 0;
                        font-size: 1.1em;
                        width: 50%;
                        text-align: center;
                    }
                }
            }

            .right {
                flex-basis: 50%;
                background-color: $desert-sand;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 1.3em;
                    margin: 0;
                    width: 80%;
                    line-height: 1.2;
                }
            }
        }

        .center-title {
            display: flex;
            justify-content: center;

            .section-title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 3em;
                position: relative;
                display: flex;
                justify-content: center;
                margin-top: 0;
                margin-bottom: 25px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    height: 3px;
                    width: 70%;
                    background-color: $red;
                }
            }
        }

        #portfolio {
            background-color: $light-grey;
            padding: 20px 70px 60px;

            .modal-overlay {
                position: fixed;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,.6);
                z-index: 9999;
                overflow-y: auto;
                display: flex;
                padding: 20px;
                visibility: hidden;

                .modal-project {
                    width: 60%;
                    margin: auto;
                    transition-duration: .3s;
                    transform: scale(0);

                    .top {
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .project-image {
                            border-radius: 6px 6px 0 0;
                            width: 100%;
                            user-select: none;
                            //max-height: 60vh;
                            display: block;
                        }

                        .close {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            border-radius: 50%;
                            background-color: rgba(0, 0, 0, 0.75);
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            .icon-close {
                                color: $white;
                                font-size: 1.35em;
                            }
                        }
                    }

                    .info {
                        background-color: $light-grey;
                        border-radius: 0 0 6px 6px;
                        padding: 25px 40px 30px;

                        h3 {
                            margin-top: 0;
                            margin-bottom: 25px;
                            text-align: center;
                            font-size: 2.7em;
                            font-family: 'Montserrat', sans-serif;
                        }

                        .description {
                            font-size: 1.15em;
                        }

                        .links {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            padding-top: 25px;

                            a {
                                color: $raisin-black;
                                text-decoration: none;
                            }

                            .open-site {
                                user-select: none;
                                outline: none;
                                cursor: pointer;
                                transition-duration: 0.2s;
                                transition-property: transform;
                                background-color: $light-grey;
                                padding: 12px 25px;
                                border-radius: 20px;
                                border: solid $raisin-black;
                                border-width: 2px 2px 4px;
                                font-size: 1.15em;

                                &:active {
                                    border-width: 2px;
                                    margin-top: 2px;
                                }
                            }

                            .github {
                                position: absolute;
                                right: 0;
                                bottom: 0;

                                .icon-github {
                                    cursor: pointer;
                                    font-size: 3.1em;
                                }
                            }
                        }
                    }
                }
            }

            #projects {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .project-container {
                    margin: 18px 10px;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;

                    .project {
                        //width: 350px;
                        //height: 215px;
                        width: 26vw;
                        height: 16vw;
                        opacity: 1;
                        transition-duration: 0.5s;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        $scale: 1.5;

                        &:after {
                            transition-duration: 0.5s;
                            content: '';
                            opacity: 0;
                            background-color: rgba(0, 0, 0, 0.5);
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }

                        &:hover {
                            transform: scale($scale);

                            .see-project {
                                opacity: 1;
                            }

                            &:after {
                                opacity: 1;
                            }
                        }

                        .see-project {
                            outline: none;
                            cursor: pointer;
                            position: relative;
                            z-index: 9;
                            opacity: 0;
                            transition-duration: 0.2s;
                            transition-property: transform, opacity;
                            transform: scale(1 / $scale);
                            background-color: $red;
                            padding: 12px 16px;
                            border-radius: 16px;
                            border: solid #a12a23;
                            border-width: 0 0 3px;

                            &:active {
                                border-width: 0;
                            }
                        }
                    }
                }
            }
        }

        #contact {
            display: flex;

            .left,
            .right {
                padding: 50px 50px 25px;
            }

            .center-title {
                display: none;
            }

            .left {
                flex-basis: 50%;
                background-color: $red;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 3.2em;
                    margin: 0;

                    span {
                        font-size: 0.85em;
                    }
                }

                .envelope {
                    transform: rotate(-11.5deg);
                    display: flex;
                    justify-content: center;
                    margin-right: 50px;

                    .icon-envelope:before {
                        color: $raisin-black;
                        font-size: 21em;
                    }
                }
            }

            .right {
                flex-basis: 50%;
                background-color: $white;
                display: flex;
                justify-content: center;

                #contact-form {
                    box-sizing: border-box;
                    width: 70%;

                    input, textarea {
                        font-size: 1.1em;
                        min-width: 100%;
                        max-width: 100%;
                        padding: 12px 16px;
                        box-sizing: border-box;
                        margin-bottom: 10px;
                        border-radius: 16px;
                        color: $raisin-black;
                        outline: none;
                        font-family: 'Varela Round', sans-serif;

                        &:not([type='submit']) {
                            border: 2px solid $grey;
                            transition: border 0.3s;

                            &:focus {
                                border-color: $red;
                            }
                        }
                    }

                    [type="submit"] {
                        border: solid $grey;
                        border-width: 2px 2px 4px;
                        background-color: $light-grey;
                        font-size: 1.2em;
                        cursor: pointer;
                        position: relative;

                        &:hover {
                            background-color: #e4e4e4;
                        }

                        &:active {
                            border-width: 2px;
                            top: 2px;
                        }
                    }
                }
            }
        }

        footer {
            background-color: $raisin-black;
            padding: 35px 60px;
            display: flex;
            justify-content: center;

            *::selection {
                color: $raisin-black;
                background-color: $white;
            }

            .center {
                display: flex;
                align-items: center;
                width: 75%;

                .left {
                    flex-basis: 50%;

                    a {
                        position: relative;
                        color: $white;
                        text-decoration: none;
                        font-size: 1.1em;

                        &:first-child {
                            margin-right: 20px;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -3px;
                            right: 0;
                            width: 0;
                            height: 2px;
                            background-color: $red;
                            transition-duration: 0.3s;
                        }

                        &:hover:after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }

                .right {
                    flex-basis: 50%;
                    display: flex;
                    justify-content: flex-end;

                    a {
                        text-decoration: none;
                        
                        i {
                            color: $white;
                            font-size: 3.1em;
                            cursor: pointer;
                            transition-duration: 0.5s;

                            &:hover {
                                color: $red;
                            }
                        }

                        &:last-child {
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1271px) {
    html body {
        #portfolio {
            padding: 20px 30px 50px;

            #projects .project-container .project {
                width: 40vw;
                height: 25vw;
            }
        }

        #about-me {
            .left,
            .right {
                padding: 25px;
            }
        }

        #contact {
            .left {
                padding: 50px 35px 0;
            }

            .right {
                padding: 50px 35px 0;

                #contact-form {
                    width: 90%;
                }
            }
        }
    }
}

@media all and (max-width: 1080px) {
    html body {
        #portfolio {
            .modal-overlay .modal-project {
                width: 70%;
            }
        }
    }
}

@media all and (max-width: 983px) {
    html body {
        #about-me {
            .left {
                .center {
                    img {
                        width: 45%;
                    }

                    blockquote {
                        width: 70%;
                    }
                }
            }

            .right {
                p {
                    font-size: 1.2em;
                }
            }
        }
    }
}

@media all and (max-width: 900px) {
    html body {
        #contact {
            display: block;
            padding-top: 20px;

            .center-title {
                display: flex;
            }

            .left,
            .right {
                padding: 25px 35px;
            }

            .left {
                display: none;
            }

            .right {
                #contact-form {
                    width: 60%;
                }
            }
        }
    }
}

@media all and (max-width: 850px) {
    html body {
        #portfolio {
            padding: 20px 20px 35px;

            #projects .project-container .project {
                width: 55vw;
                height: 34vw;
            }

            .modal-overlay .modal-project {
                width: 80%;
            }
        }
    }
}

@media all and (max-width: 768px) {
    html body {
        #portfolio #projects .project-container .project {
            &:after {
                opacity: 1;
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:hover {
                transform: none;
            }

            .see-project {
                opacity: 1;
                transform: none;
                padding: 10px 14px;
            }
        }
    }
}

@media all and (max-width: 700px) {
    html body {
        #portfolio {
            .modal-overlay {
                padding: 20px;

                .modal-project {
                    width: 95%;
                }
            }
        }

        #home {
            .center {

                .name {
                    font-size: 9.5vw;

                    &:after {
                        bottom: 3px;
                        height: 3px;
                    }
                }
            }
        }

        #portfolio {
            padding: 20px 20px 35px;

            #projects .project-container .project {
                width: 64vw;
                height: 40vw;
            }
        }

        #contact .right #contact-form {
            width: 70%;
        }

        #about-me {
            .left,
            .right {
                padding: 25px 15px;
            }

            .left {
                .center {
                    img {
                        width: 60%;
                    }

                    blockquote {
                        font-size: 1em;
                        width: 60%;
                    }
                }
            }

            .right {
                p {
                    font-size: 1.2em;
                    width: 80%;
                }
            }
        }

        footer {
            .center {
                justify-content: space-between;
                width: 100%;

                .left {
                    flex-basis: auto;
                }

                .right {
                    flex-basis: auto;
                }
            }
        }
    }
}

@media all and (max-width: 549px) {
    html body {
        #contact .right #contact-form {
            width: 85%;
        }

        #portfolio {
            #projects .project-container .project {
                width: 70vw;
                height: 43vw;
            }

            .modal-overlay .modal-project {
                width: 100%;
            }
        }

        #about-me {
            display: block;

            .center-title {
                padding-top: 20px;
                display: flex;
            }

            .left {
                display: none;
            }

            .right {
                background-color: $white;
                padding-top: 0;

                p {
                    font-size: 1.2em;
                    width: 80%;
                }
            }
        }

        footer {
            padding: 25px 30px;
        }
    }
}

@media all and (max-width: 500px) {
    html body {
        #home {
            .center .status {
                font-size: 1.3em;
            }
        }

        .center-title {
            padding: 0 20px;

            .section-title {
                font-size: 2.2em;
            }
        }

        #portfolio .center-title {
            padding: 0;
        }
    }
}

@media all and (max-width: 425px) {
    html body {
        #home {
            .center {
                .name:after {
                    bottom: 1px;
                }

                .status {
                    font-size: 1.2em;
                }
            }
        }

        #portfolio {
            #projects .project-container .project {
                width: 80vw;
                height: 49vw;
            }

            .modal-overlay {
                padding: 10px;

                .modal-project {
                    .info {
                        padding: 20px 20px 20px;

                        .links {
                            padding-top: 0;
                        }
                    }
                }
            }
        }

        #contact .right #contact-form {
            width: 100%;

            textarea {
                height: 140px;
            }
        }

        .center-title .section-title {
            font-size: 2em;
        }

        footer {
            .center {
                .left {
                    font-size: 0.9em;

                    a:first-child {
                        display: block;
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }

                .right {
                    font-size: 0.85em;

                    a:last-child {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1000px) {
    html body {
        footer {
            .center {
                box-sizing: border-box;
                width: 65%;
            }
        }
    }
}

@media all and (min-width: 1300px) {
    html body {
        footer {
            .center {
                padding: 0 6%;
            }
        }
    }
}

@media all and (min-width: 1650px) {
    html body {
        #portfolio {
            .modal-overlay .modal-project {
                width: 55%;
            }
        }

        footer {
            .center {
                width: 58%;
            }
        }
    }
}

@media all and (min-width: 1700px) {
    html body {
        #home .center {
            .name {
                font-size: 7vw;
            }

            .status {
                font-size: 1.8em;
            }
        }
    }
}

@media all and (min-width: 1900px) {
    html body {
        #about-me {
            .left .center img {
                width: 30%;
            }
        }

        #portfolio {
            #projects .project-container {
                margin: 20px;
            }
        }

        #contact {
            .right #contact-form {
                width: 55%;
            }
        }
    }
}

@media all and (min-width: 2000px) {
    html body {
        #portfolio {
            .modal-overlay .modal-project {
                width: 45%;
            }
        }

        footer {
            .center {
                padding: 0 10%;
            }
        }
    }
}

@media all and (min-width: 2300px) {
    html body {
        #home .center {
            .name {
                font-size: 6vw;
            }
        }

        #about-me {
            .left .center img {
                width: 25%;
            }
        }

        #contact {
            .right #contact-form {
                padding: 0 5%;
            }
        }

        footer {
            .center {
                padding: 0 15%;
            }
        }
    }
}

@media all and (min-width: 2500px) {
    html body {
        #portfolio {
            .modal-overlay .modal-project {
                width: 40%;
            }
        }
    }
}
