{% extends "admin/template.twig" %}

{% set pageTitle = 'Admin - Modification du projet' %}

{% block content %}
    {{ parent() }}

    <form action="" method="post">

        <button>Modifier le projet</button>
    </form>
{% endblock %}
