<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ pageTitle }}</title>
    {% block links %}{% endblock %}
    {% block meta %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ baseUrl }}assets/img/favicon.png">
    <link rel="stylesheet" href="{{ baseUrl }}assets/css/normalize.css">
</head>
<body>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
